{% extends 'base.html' %}
{% block title %}
<title>Name Page</title>
{% endblock %}
{% block content %}
<body>
	{% for message in get_flashed_messages() %}
		
		<div class="alert alert-success alert-dismissible fade show" role="alert">
		Hi {{ name }} {{ message }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}
	
	{% if name %}
		<h1>Hello {{ name }}!!</h1>
		<img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/confetti-clipart-balloon-confetti-transparent.png') }}" alt="Azure Logo" width="192" height="192"/>

	{% else %}
		<h1>User List</h1>
		<br>
		<form method="POST">
			{{ form.hidden_tag() }}
			{{ form.name.label(class="form-label") }}
			{{ form.name(class="form-control") }}
			<br>
			{{ form.email.label(class="form-label") }}
			{{ form.email(class="form-control") }}
			<br>
			{{ form.submit(class="btn btn-secondary") }}
		</form>
	<br><br><br>	
	{% endif %}
	{% for our_user in our_user %}
	{{ our_user.id}} - {{ our_user.name}} - {{ our_user.email}}
	{% endfor %}
	
</body>
{% endblock %} 